$red: #C0345E;
$grey: #506473;
$black: #19293A;

.hero {
    display: flex;
    margin:auto;
    height:100vh;
    position:relative;
}


.contentContainer {
    flex: 0 1 100%;
    display: flex;
    flex-direction:column;
    width: 100%;
    max-width:1080px;
    justify-content:center;
    box-sizing: border-box;
    padding-right: 8%;


}

.fineprint {
    color: $red;
    text-transform:uppercase;
    letter-spacing:0.8px;
    text-align:left;
    font-weight:600;
    font-size:14px;
    margin-bottom:30px;
}

.title,.titleTwo {
    font-family: var(--header-font);
    font-weight:500;
    font-size: 48px;
    letter-spacing:0px;
}

.titleTwo {
    color:$grey;
    margin-bottom:30px;
}

.description {
    color:$grey;
    font-weight:normal;
    font-size:21px;
    line-height:40px;
    margin-bottom:30px;
}

.link  {
    color:$black;
    font-weight:normal;
    font-size:18px;
    position: relative;
    display:inline-block;
    width: fit-content;
    font-weight:bold;


    


        &::after{
            content:"";
            position:absolute;
            bottom: -6px;
            left: 0;
            right: 0;
            height: 2px;
 
            
            background-color: $red;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease;
           
        }

        &:hover::after {
            transform: scaleX(1);
       
            
        }

}





.imageContainer {
    top:0;
    right:0;
    flex: 0 1 50%;
    display:none;

    width:100%;
    height:auto;
}


.picture {
    position: absolute;
    top:0;
    right:0;
    width:50%;
    height:100%;
    background-size:cover;
    background-position:center;
}
 




@media (min-width: 786px) {
    .contentContainer {
        flex: 0 1 50%;
    }

    .imageContainer {
        display:flex;
    }
}

