$red: #C0345E;
$grey: #506473;
$black: #19293A;

.container {
    display:flex;
    flex-direction: column;
    width: 100%;
    max-width: 1980px;
    padding: 5% 5%;
    margin: 0 auto;
    box-sizing:border-box;
    position: relative;
  }

.singleContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1980px;
    padding: 5% 5%;
    margin: 0 auto;
    box-sizing:border-box;
    position: relative;
}




@media (min-width: 768px) {

    .container {
        flex-direction:row;
        padding: 5% 10%;
    }
    .singleContainer {
        padding: 5% 10%;
    }
}