.container {
    display:flex;
    flex-direction: column;
    width: 100%;
    max-width: 1980px;
    padding: 5% 10%;
    margin: 0 auto;
    box-sizing:border-box;
    position: relative;
  }


@media (min-width: 786px) {
    .container {
        flex-direction:row
    }
}